.Cards{
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
  
  

}

.CardIn{
    background:#cecece;
    width:100%;
    max-width:400px;
    font-family:sans-serif;
    margin:12px; 
    margin-right: 100px;
   
    border-radius: 50px;
    

}

.CardTitle{
    background:#727272;
    padding:6px;
    display: flex;
   
       
}
.CardTitle h1{
  align-items: center;
   font-size: 25px;
  
}


.CardText{
    font-size:0.9rem;
    line-height:1.816rem;
    min-height: 300px; 
    padding:6px;
  
}
.CardText ul{
   
    text-align: left;
    
    padding-top: 20px;
   
}

.CardText ul li{

    padding-bottom: 10px;
    font-size: 20px;

}




/* @media (min-width: 361px){
    .Cards{
        display: flex;
        flex-direction: column;
       align-content: space-between;
    }
}
@media (min-width: 968px){
    .Cards{
        display: flex;
        flex-direction: row;
     
    }
} */